<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MegaTransfers</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MegaTransfers</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>INIntentsSupported</key>
	<array>
		<string>Intent</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>waze</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We need camera access to capture photos and documents.</string>
	<key>NSContactsUsageDescription</key>
	<string>We need contacts access for sharing and calling features.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location even in background for live trip tracking.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location always for dispatch tracking.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to track trips and improve dispatch services.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need microphone access for audio features.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need permission to save images to your gallery.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need photo library access to upload images and documents.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We send notifications for trips, chat messages, and updates.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string></string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
