# API Configuration
REACT_APP_API_URL=https://dashboard.mtldispatch.com
# REACT_APP_API_URL=https://fretted-claris-peerlessly.ngrok-free.dev
# REACT_APP_API_URL=https://m24j7m06-8080.inc1.devtunnels.ms
# REACT_APP_API_URL=https://nc397dpg-8080.asse.devtunnels.ms
